<h1 mat-dialog-title>Modificar Usuario</h1>
<div mat-dialog-content >
 
  <form [formGroup] = 'userForm'  class="example-form"  (ngSubmit)="agregarUsuario()">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cedula</mat-label>
      <input formControlName="cedula" type="number" matInput placeholder="0708996657" #cedula>
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre completo</mat-label>
      <input matInput formControlName="nombre" type="text"  placeholder="Guillermo Rafael" #nombre>
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Apellido completo</mat-label>
      <input formControlName="apellido" type="text" matInput placeholder="Correa Lasso" #apellido>
    </mat-form-field><br>  

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Dirección</mat-label>
      <input formControlName="direccion" matInput placeholder="Alborada 5ta Etapa" #direccion>
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Edad</mat-label>
      <input formControlName="edad" type="number" matInput placeholder="22" #edad>
    </mat-form-field>

    
    <div class="divBtnModificar">
      <button type="submit" [disabled]="userForm.invalid" mat-raised-button color = "primary"  (click)="closeDialog()" >{{actionBtn}}</button>
      <button style="margin-left: 8px;"  mat-raised-button color="warn"   mat-dialog-close >Cancelar</button>
  
    </div>
    
  </form>
  
  
</div>